<h1>Home</h1> 
<button ng-hide="loggedIn" class="btn" ng-click="fblogin()">
<span class="glyphicon glyphicon-open"></span>&nbsp;&nbsp;Connect with Facebook
</button>

<p>You're logged in!! {{username}}</p>
<input type="text" ng-model="chart.title.text" name="title" size = 40/>
<input type="number" ng-model="chart.series[3].data[3]" name="custom" size = 40/>
<highchart id="chart1" config="chart"></highchart>

  <h3>Cookies</h3>
  <pre>{{usingCookies|json}}</pre>
  <h3>Cookie Store</h3>
  <pre>{{usingCookieStore|json}}</pre>
	<h3>User</h3>
  <pre>{{theuser|json}}</pre>
  <p> {{loggedIn}} </p> 
  <p> {{fbuser}} </p>